/*font usati */

@font-face {
    font-family: 'oxygenregular';
    src: url('oxygen-regular-webfont.woff2') format('woff2'),
         url('oxygen-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'victor_monoregular';
    src: url('victormono-regular-webfont.woff2') format('woff2'),
         url('victormono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*stili base*/

:root{
    font-family: 'oxygenregular';
    /*palette colori:*/
	--clr-white: #FCFCFC;
			
	--clr-secon: #7899D4;
	--clr-seconlg: #C1D1EB;
	
	--clr-accent: #D3C5C8;
	--clr-selacc: #7D6167;
	--clr-light: #EFF3FA;
	--clr-plat:#EDE8EA;
	--clr-red: #A31621;
	
	--clr-dark: #000000;
	/*fine palette default*/
		
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
	text-decoration: none;
	Background-attachment:fixed;
}

.bodydef {
    padding: 0;
    line-height: 1.6;
    word-spacing: 1.4px;
    background:linear-gradient(var(--clr-secon) 5%,var(--clr-seconlg) 25%);
    display:flex;
    flex-direction: column;
    height: 100vh;
}

.bodyauth {
    padding: 0;
    line-height: 1.6;
    word-spacing: 1.4px;
    background-color: var(--clr-secon);
    display:flex;
    flex-direction: row;
	justify-content:center;
    height: 100vh;
}

/* SCROLLBAR */
body::-webkit-scrollbar{
    width: 0.25rem;
}

body::-webkit-scrollbar-track{
    background: var(--clr-secon);
}

body::-webkit-scrollbar-thumb{
    background: var(--clr-white);
	border-radius: 2px;
}

/*FINE SCROLLBAR */

/* STILI HEADER */
.menu,
.link-footer,
button{
	font-family: 'victor_monoregular';
    font-weight: bold;
    color: var(--clr-dark);
    text-decoration: none;
}

button{
    padding:9px 25px;
    background: var(--clr-accent);
	
    color: var(--clr-dark);
	font-size: 16px;
    border:none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0s linear;
}

button#logout:hover{
	background: var(--clr-red);
}

#redirect{
	display:flex;
	flex-direction:column;
	margin-top:auto;
	align-items:center;
}

button:hover{
    background: var(--clr-selacc);
	color: var(--clr-white);
}


header{
	position:relative;
    background-color: var(--clr-white);
	/*stile bolla*/
	margin-top: 20px;
	margin-right: 50px;
	margin-left: 50px;
	border-top-right-radius: 40px;
	border-bottom-right-radius: 40px;
	border-top-left-radius: 40px;
	border-bottom-left-radius: 40px;
	/*fine stile bolla*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
	border: 4px solid var(--clr-dark);
	box-shadow: 4px 4px 0px 0px var(--clr-dark);
}

.logo{
	font-family: 'victor_monoregular';
    font-size: 42px;
    color: var(--clr-dark);
	cursor: pointer;
    transition: all .5s ease;
}

.logo:hover{
    color: var(--clr-secon);
}

#secondary{
	font-size: 28px;
	margin-top:auto;
}

.logo#secondary:hover{
	color: var(--clr-selacc);
}

#logonav{
	position:relative;
	top:4px;
	margin-right:10px;
}

.menu{
    list-style: none;
}

.menu li{
    display: inline-block;
    padding: 20px 10px 20px 5px;
}

.menu li .link-footer{
    transition: all .3s ease;
}

.menu .link-footer:hover{
    color: var(--clr-selacc);
}

.header-row{
	display:flex;
	flex-direction:row;
}
/* fine HEADER */

/* stili content */

.content{
    color: var(--clr-dark);
	background-color: var(--clr-white);
    display: flex;
    flex-direction: column;
	/*stile box*/
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
	//margin-right: 60px;
	//margin-left: 60px;
	//margin-bottom: 30px;
	border-top-right-radius:30px;
	border-top-left-radius:30px;
	border-top:4px solid var(--clr-dark);
	/*stile box*/
    flex-grow: 1; /* per mantenere footer in fondo*/
}

.subcontent#center{
	grid-row-start:1;
	grid-row-end:3;
	grid-column-start:3;
	grid-column-end:3;
}

.subcontent#right{
	grid-row-start:1;
	grid-row-end:1;
	grid-column-start:5;
	grid-column-end:5;
}

.subcontent#left{
	grid-row-start:1;
	grid-row-end:1;
	grid-column-start:1;
	grid-column-end:1;
}

.content h1{
    letter-spacing:.3px;
}

/*login content*/

.window{
	position:relative;
	width: 38%;
	color: var(--clr-dark);
	background-color: var(--clr-white);
    display: flex;
    flex-direction: column;
	margin-top: 30px;
	margin-bottom: 30px;
	border-radius:30px;
	border:4px solid var(--clr-dark);
	box-shadow: 4px 4px 0px 0px var(--clr-dark);
}

#windowright{
	margin-left:2%;
}

#windowleft{
	margin-right:2%;
}

.auth-container{
	display:flex;
	flex-direction: column;
	align-items: center;
	flex-grow:1;
	margin: 52px 25px;
	overflow: auto;
}


.contact-form{
	display:flex;
	flex-direction: column;
	padding:50px 30px;
	padding-top:0px;
}

.form-input-item, .form-item{
	padding: 10px 0px;
	padding-top: 0px;
}

.button{
	font-family:victor_monoregular;
	font-weight: 300;
    font-size: 16px;
    color: var(--clr-dark);
    text-decoration: none;
	padding:9px 25px;
    background: var(--clr-accent);
    color: var(--clr-dark);
    font-weight: bold;
    border:none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0s linear;
}

.button:hover{
    background-color: var(--clr-selacc);
	color: var(--clr-white);
}

/*fine login content*/

/* animazione home*/

.auth-container{
	transition: all 1s ease;
}

.hidden{
	display:none;
	visibility: none;
}

.active{
	visibility: visible;
}

/*fine animazione home*/

/*fine CONTENT */

/*stili footer */

footer{
    background-color: var(--clr-seconlg);
    color: var(--clr-dark);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 4%;
}

#footerfloat{
	border-bottom-right-radius:30px;
	border-bottom-left-radius:30px;
}

.link-footer{
	cursor: pointer;
	font-size: 14;
}

.container-text{
	margin-top: 3px;
	margin-bottom: 2px;
	text-align: center;	
}

#what{
	font-family: victor_monoregular;
	font-size: 20px;
	border: 3px solid var(--clr-secon);
	padding: 6px 20px 3px 20px;
	border-top-left-radius:20px;
	border-bottom-right-radius:20px;
}

#terms #aboutus #info{
	justify-content:flex-end;
}

#logged{
	background: var(--clr-white);
}
/*fine footer*/

/*CONTENT*/

.content-container{
	display:grid;
	grid-template-columns: 330px 20px auto 20px 330px;
	grid-template-rows: 460px;
	background: linear-gradient(var(--clr-plat) 70%, var(--clr-white) 100%);
}

.profile-img{
	height:300px;
	width: 300px;
	border-radius:30px;
	border: 4px solid var(--clr-dark);
}

.image-container{
	width:300px;
	align-items:center;
}

.profile-friends{
	width:auto;
	padding: 4px 10px;
	flex-direction:column;
	align-items:center;
	display: flex;
    justify-content: space-between;
	height: 100%;
}

.profile-me{
	width:auto;
	padding: 10px 10px;
	flex-direction:column;
	align-items:center;
	display: flex;
    justify-content: space-between;
	background: var(--clr-white);
    border-radius: 20px;
	height: 100%;
}

.profile-friends, .profile{
	background: var(--clr-white);
	border-radius:20px;
}

.profile{
	display: flex;
	flex-direction:column;
	width:auto;
	justify-content: space-between;
	padding:4px 20px;
	height: 100%;
}

.listed{
	display: flex;
	flex-direction:column;
	width:auto;
	justify-content: flex-start;
	padding:20px 30px;
	height: 100%;
	background: var(--clr-white);
	border-radius: 20px;
}

.inlisted{
	display: flex;
	flex-direction:column;
	width:auto;
	justify-content: flex-end;
	border-radius: 20px;
}

.inlisted#reversed{
	display: flex;
	flex-direction:column-reverse;
	width:auto;
	justify-content: flex-end;
	border-radius: 20px;
}

.listed#spacebetween{
	justify-content:space-between;
}

.title{
	margin-top:6px;
	font-size:18px;
	font-weight: bold;
	text-align:center;
}

.profile p{
	margin-top:auto;
}

#margintop{
	margin-top:10px;
}

.contact-form-search{
	display:flex;
	flex-direction: row;
}
.buttonsearch{
	font-family:victor_monoregular;
	font-weight:bold;
	padding:9px 15px 9px 10px;
    background: var(--clr-accent);
    color: var(--clr-dark);
	font-size: 16px;
    border:none;
    border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
    cursor: pointer;
    transition: all 0s linear;
}

.buttonsearch:hover{
	background-color: var(--clr-selacc);
	color: var(--clr-white);
}

#searched{
	width:150px;
	border: 1px solid var(--clr-accent);
	padding-left:10px;
}

#searched:focus {
    outline: none !important;
    border:1px solid var(--clr-selacc);
  }
  
#searchbar{
	align-items: center;
    display: flex;
	padding-left:50px;
}

.side .allfriends{
	display:flex;
	flex-direction:column;
	align-items:center;
}

.unite{
	display: flex;
    flex-direction: column;
	align-items:center;
}