/*font usato */

@font-face {
    font-family: 'oxygenregular';
    src: url('oxygen-regular-webfont.woff2') format('woff2'),
         url('oxygen-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*stili base*/

:root{
    font-family: 'oxygenregular';
    /*palette colori:*/
	--clr-white: #FCFCFC;
			
	--clr-secon: #7899D4;
	
	--clr-accent: #D3C5C8;
	--clr-selacc: #7D6167;
	
	--clr-dark: #000000;
	/*fine palette default*/
		
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    line-height: 1.6;
    word-spacing: 1.4px;
    background-color: var(--clr-secon);
    display:flex;
    flex-direction: column;
    height: 100vh;
}

/* SCROLLBAR */
body::-webkit-scrollbar{
    width: 0.25rem;
}

body::-webkit-scrollbar-track{
    background: var(--clr-secon);
}

body::-webkit-scrollbar-thumb{
    background: var(--clr-white);
	border-radius: 2px;
}

/*FINE SCROLLBAR */

/* STILI HEADER */
.menu,
a,
button{
    font-weight: 300;
    font-size: 14;
    color: var(--clr-dark);
    text-decoration: none;
}

button{
    padding:9px 25px;
    background: var(--clr-accent);
    color: var(--clr-dark);
    font-weight: bold;
    border:none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0s linear;
}

button:hover{
    background-color: var(--clr-selacc);
	color: var(--clr-white);
}

#registrati:hover{
    background-color: var(--clr-selacc);
}

header{
    background-color: var(--clr-white);
	/*stile bolla*/
	margin-top: 20px;
	margin-right: 50px;
	margin-left: 50px;
	border-radius: 30px;
	/*fine stile bolla*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    //box-shadow: 0px 0px 10px 2px var(--clr-dark);
}

.logo{
    font-size: 24px;
    color: var(--clr-dark);
    transition: all .5s ease;
}

.logo:hover{
    color: var(--clr-secon);
}

.menu{
    list-style: none;
}

.menu li{
    display: inline-block;
    padding: 20px;
}

.menu li a{
    transition: all .3s ease;
}

.menu a:hover{
    color: var(--clr-secon);
}
/* fine HEADER */

/* stili content */

.content{
    color: var(--clr-dark);
	background-color: var(--clr-white);
    display: flex;
    flex-direction: column;
	/*stile box*/
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
	margin-right: 100px;
	margin-left: 100px;
	margin-bottom: 30px;
	border-radius:30px;
	/*stile box*/
    flex-grow: 1; /* per mantenere footer in fondo*/
}

.content h1{
    letter-spacing:.3px;
}

/*login content*/

.button{
	font-weight: bold;
    font-size: 14;
    color: var(--clr-dark);
    text-decoration: none;
	padding:9px 25px;
    background: var(--clr-accent);
    color: var(--clr-dark);
    font-weight: bold;
    border:none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0s linear;
}

.button:hover{
    background-color: var(--clr-selacc);
	color: var(--clr-white);
}

/*fine login content*/

/*fine CONTENT */

/*stili footer */

footer{
    background-color: var(--clr-white);
    color: var(--clr-dark);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 10%;
}

/*fine footer*/