/*font usato */

@font-face {
    font-family: 'oxygenregular';
    src: url('oxygen-regular-webfont.woff2') format('woff2'),
         url('oxygen-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*stili base*/

:root{
    --clr-dark: #23252F;
    --clr-light: #CCC9DC;
    --clr-white: #EDF0F7;
    --clr-blue: #516E8F;
    --clr-brown: #AD8350;
    --clr-red: #F24333;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'oxygenregular';
    padding: 0;
    line-height: 1.6;
    word-spacing: 1.4px;
    background-color: var(--clr-white);
    display:flex;
    flex-direction: column;
    height: 100vh;
}

/* STILI NAVBAR */
.menu,
a,
button{
    font-weight: 300;
    font-size: 14;
    color: var(--clr-white);
    text-decoration: none;
}

button{
    padding:9px 25px;
    background: var(--clr-blue);
    border:none;
    border-radius: 50px;
    cursor: pointer;
    transition: all .3s ease;
    margin-left: 30px;
}

button:hover{
    background-color: var(--clr-brown);
}

#registrati:hover{
    background-color: var(--clr-red);
}

header{
    background-color: var(--clr-dark);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 10%;
    border-bottom:2px solid var(--clr-blue);
}

.logo{
    font-size: 24px;
    color: var(--clr-light);
    margin-right: auto;
}

.menu{
    list-style: none;
}

.menu li{
    display: inline-block;
    padding: 20px;
}

.menu li a{
    transition: all .3s ease;
}

.menu a:hover{
    color: var(--clr-brown);
}
/* fine NAVBAR */

/* stili content */

.content{
    color: var(--clr-dark);
    display: flex;
    flex-direction: column;
    margin: 20px;
    flex-grow: 1; /* per mantenere footer in fondo*/
}

.content h1{
    letter-spacing:.3px;
}

/*fine CONTENT */

/*stili footer */

footer{
    background-color: var(--clr-dark);
    color: var(--clr-white);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 10%;
    border-top:2px solid var(--clr-blue);
}
